@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 0 0% 100%;
    --bg-secondary: 0, 98%, 57%;

    --text-primary: 0, 0%, 0%;
    --text-secondary: 1, 88%, 30%;
    --text-tertiary: 1, 88%, 30%;
    --text-quaternary: 0, 0%, 100%;
    --text-quinary: 3, 71%, 41%;
    --text-sextary: 264, 7%, 29%;

    --border-primary: 0, 0%, 85%;
    --border-secondary: 1, 88%, 30%;
    --hover-primary: 0, 0%, 70%;
    --hover-secondary: 1, 88%, 40%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}