.aboutContent {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  margin-block: 2rem;
  align-items: center;
}

.longBody {
  text-align: center;
  margin-inline: 10rem;
}

.aboutContent article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContent h1 {
  font-size: xx-large;
}

.aboutContent ul {
  list-style: none;
  padding-inline-start: 0;
}

.aboutContent li {
  padding-block: 0.5rem;
}

.aboutTagline {
  font-style: italic;
}
