.home {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 0;
  column-gap: 0.1rem;
}

.recipeCardLink {
  text-decoration: none;
  color: black;
}

.recipeCard {
  width: 20rem;
  height: 12.5rem;
  max-height: fit-content;
  border: 2px solid #ec221f;
  border-radius: 1rem;
  padding: 1rem;
}

.recipeCard:hover {
  background: whitesmoke;
}

.recipeDesc {
  height: 5rem;
}

.ingredientCheck {
  font-style: italic;
}
