.contactForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.contactForm label {
  font-size: large;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contactForm #subject {
  --width: 30rem;
  width: var(--width);
  padding: 0.5rem;
  outline: none;
}

.contactForm #body {
  width: var(--width);
  height: 10rem;
  padding: 0.5rem;
  outline: none;
}

.contactBtn {
  color: white;
}
