.authCard {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.authCard label {
  font-size: large;
}

.authCard input {
  width: 300px;
  padding: 0.5rem;
  outline: none;
}

.authLink {
  color: black;
  text-decoration: none;
}

.authLink:hover {
  color: grey;
  text-decoration: underline;
}
