footer {
  color: black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  border-top: 1px solid black;
  margin-inline: 0.25rem;
  height: auto;
}

.footerListsPlural {
  display: flex;
}

.footerList {
  list-style-type: none;
}

.footerItem {
  text-indent: 0;
}

.footerLink {
  color: black;
  text-decoration: none;
}

.footerLink:hover {
  color: grey;
  text-decoration: underline;
}
